.assets {

	padding: 60px 0 50px;

	h2 {
		margin-bottom: 15px;
	}

	& > p {
		width: 685px;
		margin-bottom: 16px;
	}

	.briefVal {
		font-size: 37px;
		color: #a23b4a;
	}
	.briefText {
		line-height: 22px;
		font-size: 16px;
	}
}

.assetsIncome {

	margin-top: 25px;

	h5 {
		margin-bottom: 20px;
	}

	.assetsIncome_Total {
		display: block;
		float: left;
		width: 242px;
		height: 84px;
		background: url(../images/frame-angle.png) no-repeat center;
		line-height: 84px;

		span {
			display: block;
			width: 216px;
			text-align: center;
			font-size: 42px;
			font-weight: bold;
			color: #a23b4a;
		}
	}

	.assetsIncome_Part {
		display: block;
		float: left;
		height: 84px;
		margin-left: 38px;
		padding-top: 15px;

		p {
			font-size: 14px;
		}

		span {
			display: block;
			margin-top: 3px;
			font-size: 37px;
			font-weight: bold;
			color: #a23b4a;
		}
	}
}

.borrowers {

	h2 {
		margin-bottom: 15px;
	}

	padding-bottom: 50px;

	.borrowersTabs {
		border-top: 1px solid #eeeeee;
		padding-top: 22px;
	}

	.leftCol {
		width: 250px;
		float: left;
	}

	.rightCol {
		width: 647px;
		float: left;
	}

	.tabslist {

		li {

			margin-left: -10px;
			margin-bottom: 8px;
			a {
				display: inline-block;
				font-size: 16px;
				line-height: 20px;
				padding: 10px 15px;
				border-radius: 50px;
				background: transparent;
			}

			&.active a {
				background: #a23b4a;

				.pseudo {
					color: #fff;
					border: none;
				}
			}
		}
	}

	.tabsItems {
		.tabsItems_item {
			display: none;

			h4 {
				margin-bottom: 8px;
			}

			.sub {
				font-style: italic;
				font-size: 16px;
				display: block;
				margin-bottom: 20px;
			}

			.tabDigits {

				margin-bottom: 20px;

				.digitLeft {
					float: left;
					width: 216px;
				}
				.digitCenter {
					float: left;
					width: 231px;
				}
				.digitRight {
					float: left;
				}

				p {
					font-size: 17.82px;
					margin-bottom: 4px;
				}

				.digit {

					color: #a23b4a;
					font-size: 23.75px;

					.value {
						font-size: 41.57px;
						font-weight: bold;
					}
				}
			}

			.tabBody {
				p {
					line-height: 24px;
					margin-bottom: 8px;
				}

				.red-list {
					margin-bottom: 25px;

					li {
						display: block;
						min-height: 17px;
						background: url(../images/v.png) no-repeat left top;
						padding-left: 25px;
						margin-bottom: 11px;
						line-height: 24px;
						font-size: 16px;
					}
				}

				.attention {
					font-size: 21px;
					font-style: italic;
					margin-bottom: 20px;

					&.red {
						color: #a23b4a;
					}
				}

				.fWid {
					display: block;
					margin: 30px 0;
					width: 100%;
					height: auto;
				}

				.toysCols {
					.toysLeft {
						float: left;
						width: 373px;
					}
					.toysRight {
						float: left;
						width: 165px;
					}
				}

				.inline-data {
					margin-right: 17px;
				}
			}

			&.active {
				display: block;
			}
		}
	}
}

