.companyDevelopment {
	height: 485px;
	padding: 49px 0;
	background: url(../images/botBg.jpg) no-repeat center;
	background-size: cover;

	h2 {
		color: #fff;
		margin-bottom: 30px;
	}
}

.bullseyesTabs {
	.tabslist {

		position: relative;

		li {
			display: inline-block;
			width: 170px;
			text-align: center;

			&:first-child {
				margin-left: -69px;
			}

			a {
				display: inline-block;
				color: #fff;
				padding-bottom: 2px;
				border-bottom: 1px dashed #fff;
				cursor: pointer;
				position: relative;
				padding-top: 35px;

				&:before {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -13px;
					content: "";
					display: block;
					width: 26px;
					height: 26px;
					border-radius: 13px;
					background: #fff;
					z-index: 10;
				}
			}

			&.active {
				a {
					&:after {
						width: 12px;
						height: 12px;
						border-radius: 6px;
						background: #d93548;
						position: absolute;
						top: 7px;
						left: 50%;
						margin-left: -6px;
						content: "";
						z-index: 12;
					}
				}
			}
		}
		&:after {
			position: absolute;
			top: 12px;
			left: -3000px;
			right: -3000px;
			height: 1px;
			background: #fff;
			content: "";
			display: block;
			z-index: 8;
		}
	}
	.bullsItems {
		padding-top: 35px;

		.tabsItems_item {
			display: none;
			color: #fff;

			ul {
				li {
					padding-left: 23px;
					position: relative;
					margin-bottom: 13px;

					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -7px;
						width: 14px;
						height: 18px;
						background: url(../images/v_white.png) no-repeat center;
					}
				}
			}

			&.active {
				display: block;
			}
		}
	}
}