header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	background: #fff;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.4);

	.logo {
		display: inline-block;
		padding-top: 23px;
		margin-right: 15px;
	}

	.mainMenu {
		display: inline-block;
		padding-top: 28px;
		vertical-align: top;

		& > ul > li {
			display: inline-block;
			margin: 0 10px;

			a {
				font-size: 14px;
			}
		}
	}

	.callback {
		float: right;
		text-align: center;
		padding-top: 15px;

		.phone {
			font-size: 21px;
			font-weight: bold;
		}

		button {
			display: block;
			margin-top: 3px;
		}
	}
}