.insurance {

	background: #f2f2f2;
	padding: 56px 0 106px;

	h2 {
		margin-bottom: 45px;
	}

	h5 {
		margin-bottom: 6px;
	}

	p {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 16px;
	}

	.opora-col {
		float: left;
		width: 720px;
	}

	.docs-col {
		float: right;
		width: 200px;
		padding: 0 20px;
	}

	.insBlock {

		margin-bottom: 45px;

		.oporaFacts {
			padding-top: 63px;
			background: url(../images/opora.png) no-repeat left top;
			background-size: 117px 37px;

			h6 {
				margin-bottom: 15px;
			}

			ul {
				margin-bottom: 25px;

				li {
					display: block;
					min-height: 17px;
					background: url(../images/v.png) no-repeat left 12px top;
					padding-left: 40px;
					margin-bottom: 9px;
					line-height: 23px;
					font-size: 15px;
				}
			}

			.oporaDocs {
				.docLink {
					margin-right: 40px;
				}
				.pseudo {
					font-size: 14px;
					font-weight: 100;
				}
			}
		}
	}

	.reserveBlock {
		margin-bottom: 45px;
	}

	.mirBlock {
		padding-bottom: 33px;
		background: url(../images/mir.png) no-repeat left bottom;
	}

	.docItem {
		display: block;
		margin-bottom: 45px;

		&:hover {
			cursor: pointer;

			.pseudo {
				color: #a23b4a;
				border-bottom: 1px dashed #e2c2c7;
			}
		}

		.pseudo {
			font-size: 14px;
			font-weight: 100;
			margin-left: 10px;
		}
	}
}