.topBanner {
	height: 464px;
	background: url(../images/topBG.jpg) no-repeat center;
	background-size: cover;
	color: #fff;

	h1 {
		width: 610px;
		font-size: 60px;

		.rate {
			font-size: 90px;
			font-weight: bold;
		}
	}

	.factoids {
		font-size: 18px;

		li {
			display: inline-block;
			margin-right: 30px;

			&:first-child {
				width: 340px;
			}
			&:nth-child(2) {
				width: 340px;
			}
			&:last-child {
				width: 150px;
				margin-right: 0;
			}
		}
	}
}