.answer {
  padding: 48px 54px;
  background: #f2f2f2; }
  .answer .contactsCol {
    float: left; }
    .answer .contactsCol .phone {
      font-size: 32px;
      font-weight: bold;
      color: #3b3d47; }
    .answer .contactsCol .schedule {
      display: block;
      font-size: 14px; }
    .answer .contactsCol .schemeAnchor {
      display: inline-block;
      font-size: 15px;
      line-height: 25px;
      padding-left: 27px;
      height: 25px;
      background: url(../images/mapAnchor.png) no-repeat left center; }
  .answer .separator {
    display: block;
    float: left;
    font-size: 18px;
    padding: 0 54px 0 30px;
    font-weight: 100; }
  .answer .formCol {
    float: left; }
    .answer .formCol .answersCallback input[type="text"] {
      display: inline-block;
      width: 240px;
      margin-right: 19px; }
    .answer .formCol p {
      margin-left: 271px;
      margin-top: 8px;
      font-size: 14px;
      color: #989898; }
