.calc {
  position: relative;
  padding-top: 95px; }

.calcOuter {
  position: absolute;
  top: -111px;
  left: 0;
  right: 0; }

.calcInner {
  background: #fff;
  height: 190px;
  border-radius: 5px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2); }

.calcInputs {
  text-align: left; }
  .calcInputs th {
    font-weight: 100;
    padding-top: 17px;
    padding-bottom: 14px; }
  .calcInputs th:first-child {
    width: 230px;
    padding-left: 37px;
    padding-right: 10px; }
  .calcInputs th:nth-child(2) {
    padding-left: 32px; }
  .calcInputs th:nth-child(3) {
    padding-left: 37px; }
  .calcInputs th:last-child {
    padding-left: 37px; }
  .calcInputs td {
    border-top: 1px solid #e7e7e7;
    padding-top: 22px; }
  .calcInputs td:first-child {
    width: 230px;
    padding-left: 30px;
    padding-right: 10px; }
  .calcInputs td:nth-child(2) {
    padding-left: 24px; }
  .calcInputs td:nth-child(3) {
    padding-left: 37px; }
  .calcInputs td:last-child {
    padding-left: 37px; }
  .calcInputs .w-calc_sum_slider {
    width: 156px;
    margin: 0 auto; }
  .calcInputs .calc_sum_slider {
    width: 156px; }
  .calcInputs .ui-slider .ui-slider-handle {
    width: 20px;
    height: 30px;
    background: url(../images/slider.png) no-repeat 0 0;
    cursor: pointer; }

.calcResult tr > td:first-child {
  font-size: 15px;
  font-weight: 100; }

.calcResult .calc_out_sum {
  color: #a23b4a;
  font-size: 32px;
  font-weight: bold; }

.calcResult .calc_out_income, .calcResult .calc_out_rate {
  font-size: 16px;
  font-weight: bold; }
