* {
  box-sizing: border-box; }

body {
  font-family: "Myriad Pro"; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.container {
  width: 960px;
  margin: 0 auto; }
  .container > .inside {
    padding: 0 10px; }

a, a:focus, a:hover {
  text-decoration: none;
  color: inherit; }

button {
  background: none;
  border: 0;
  cursor: pointer; }

.btnBordo {
  background: #a23b4a;
  color: #fff;
  white-space: nowrap; }

.btnS {
  height: 21px;
  padding: 0 15px;
  border-radius: 9px;
  font-size: 12px;
  line-height: 12px; }

.btnM {
  width: 220px;
  height: 42px;
  padding: 0 15px;
  border-radius: 21px;
  font-size: 16px; }

.pseudo {
  color: #1275a5;
  border-bottom: 1px dashed #71acc9;
  padding-bottom: 2px; }

.realLink {
  color: #007bbf;
  padding-bottom: 2px;
  border-bottom: 1px solid #d0e3ed;
  line-height: 25px; }

.docLink {
  display: inline-block;
  min-height: 23px;
  padding-left: 28px;
  line-height: 23px;
  background: url(../images/file.png) no-repeat left center; }
  .docLink span {
    color: #007bbf;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 1px solid #d0e3ed; }

.wrapper {
  width: 100%;
  min-width: 1000px;
  position: relative;
  padding-top: 72px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #3b3d47; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 28px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

.hBordo {
  font-weight: 300;
  color: #a23b4a; }

input[type='text'].inputType1 {
  width: 100%;
  border: 1px solid #a23b4a;
  margin: 0;
  outline: none;
  font-size: 20px;
  font-family: 'Myriad Pro';
  line-height: 20px;
  padding: 10px 16px;
  resize: none;
  box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 20px; }

input[type='text'].inputType2 {
  text-align: center;
  border: 1px solid #e1e1e1;
  margin: 0;
  outline: none;
  font-size: 16px;
  font-family: 'Myriad Pro';
  font-weight: 100;
  line-height: 16px;
  padding: 10px 16px;
  resize: none;
  border-radius: 20px; }

.bold {
  font-weight: bold !important; }
