.map-container {
  position: relative; }

.mapLayer {
  width: 100%;
  height: 605px; }

.map-caption {
  position: absolute;
  top: 105px;
  left: 50%;
  margin-left: 134px;
  width: 335px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3); }

.map-caption img {
  width: 100%;
  height: auto; }

.map-caption .caption-text {
  padding: 4px 18px 27px;
  line-height: 24px; }
  .map-caption .caption-text h6 {
    margin-top: 12px;
    font-size: 16px; }
  .map-caption .caption-text p {
    font-size: 16px; }
